/* 1000px 以上あればだいたい5カラム表示するやつ */

@media (min-width: 1000px) {
    .columns-area>div {
        width: 20%;
        max-width: 20%;
    }
    .columns-area>div>.column,
    .columns-area>div>.mastodon-column-container>.column {
        width: 100%;
    }
}

/* pacochi さんあたりが貼ってた気がする unlisted と private にそれっぽいアイコンつけるやつ */

.getting-started__wrapper {
    height: 50%;
    overflow: auto;
}
.status-unlisted {
    background: url('https://img.pawoo.net/media_attachments/files/002/695/090/original/618771f695545934.png') left bottom no-repeat;
    }
.status-private {
    background: url('https://img.pawoo.net/media_attachments/files/002/695/091/original/f293eff2b1a028d7.png') left bottom no-repeat;
}

/* アカウントギャラリーの NSFW なサムネに blur をなんかするやつ */

.account-gallery__item a[style*="blur"] {
    filter: sepia(100%) saturate(200%) hue-rotate(270deg) blur(2px) !important;
}
.account-gallery__item a:hover {
    filter: none !important;
}