@-moz-document domain("sengi.nicolas-constant.com") {
    .main-display__stream-column[_ngcontent-c9] {
        @media screen and (min-width: 1921px) {
            width: 495px;
        }
        @media screen and (max-width: 1920px) {
            width: 335px;
        }
    }
    .stream-column[_ngcontent-c10],
    .stream-column__stream-header[_ngcontent-c10],
    .stream-column__stream-selector[_ngcontent-c10],
    .stream-statuses[_ngcontent-c10] {
        @media screen and (min-width: 1921px) {
            width: 485px;
        }
        @media screen and (max-width: 1920px) {
            width: 330px;
        }
    }
}
